{% layout none %}

{% for product in collection.products %}
  <div class="product-card">
    <a href="{{ product.url }}">
      <div class="card__media">
        {% if product.featured_media %}
          <img
            srcset="{%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
              {{ product.featured_media | image_url }} {{ product.featured_media.width }}w"
            src="{{ product.featured_media | image_url: width: 533 }}"
            loading="lazy"
            class="motion-reduce"
            alt="{{ product.featured_media.alt | escape }}"
            width="{{ product.featured_media.width }}"
            height="{{ product.featured_media.height }}"
          >
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      
      <div class="card__heading">
        {{ product.title }}
      </div>
    </a>
    
    <div class="price">
      {%- if product.price_varies -%}
        <span class="price-item">{{ product.price_min | money }} - {{ product.price_max | money }}</span>
      {%- else -%}
        <span class="price-item">{{ product.price | money }}</span>
      {%- endif -%}
    </div>
    
    {% if product.metafields.reviews.rating %}
      <div class="rating">{{ product.metafields.reviews.rating.value }}</div>
    {% endif %}
    
    <div class="card-tags">
      {% for tag in product.tags %}
        <span class="card-tag">{{ tag }}</span>
      {% endfor %}
    </div>
  </div>
{% endfor %} 